.upload-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.upload-label {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}

.upload-label:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.file-input {
  display: none;
}



.upload-label.uploaded::before {
  opacity: 0;
}

.upload-label span {
  display: inline-block;
  margin-top: 40px;
}


.upload-label {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.upload-label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.upload-label::after {
  content: '+';
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-label.image-uploaded::after {
  content: none;
}

